{% extends "base.html" %}
{% load static %}	
{% block content %}   

                <div class="row">
                    <div class="col-md-3 register-left">
                         <img src="{% static ''%}images/file-cloud.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>Data Integrity Auditing using blockchain to Secure from Attackers</p>
						<input type="button" class="btn" name="" onclick="document.location.href='/cloud/changepassword'" value="Change Password"/> 
                     
                        <input type="button" name="" onclick="document.location.href='/logout'" value="Logout"/><br/>
                    </div>
                    <div class="col-md-9 register-right p-5" style="overflow-y:scroll;">
						<div class="row"> 
	   <div class="col text-center">
		<h2>Files on Cloud</h2> 
		</div> 
	</div>
					 <table class="table table-bordered keyreq    mb-1 mb-4">
  <thead class="thead-dark">
    <tr>
	  <th scope="col">ID</th>
	   <th scope="col">Login Name</th>
      <th scope="col">Filename</th>
      <th scope="col">UploadedAt</th> 
	  <th scope="col">Last Audited</th>
    </tr>
  </thead>
  <tbody>
    
	{% if files|length > 0 %}
	 {% for d in files %}
	 <tr>
      <th>{{ d.id }}</th>
	  <th>{{ d.username }}</th>
      <td>{{ d.filename }}</td>
      <td>{{ d.creationDate }}</td>  
	  <td>{{ d.lastaudited }}</td>
	</tr>
      {% endfor %}
	  {% else %}
	     <tr><th colspan=6>No Records found</th></tr>
      {% endif %}
   </tbody>
</table>
					 </div>
                </div>

           
{% endblock %}