{% extends "base.html" %}
{% load static %}	
{% block content %}   

                <div class="row">
                    <div class="col-md-3 register-left" >
                         <img src="{% static ''%}images/file-cloud.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>Data Integrity Auditing using blockchain to Secure from Attackers</p>
						<input type="button" class="btn" name="" onclick="document.location.href='/tpa/changepassword'" value="Change Password"/>
                        <input type="button" name="" onclick="document.location.href='/logout'" value="Logout"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
					        <div class="container">
								<br/>
	<div class="row">
	    <br/>
	   <div class="col text-center">
		<h2>Verify Audit</h2> 
		</div> 
	</div>
	<br/>
						 <table class="table table-bordered keyreq m-4">
  <thead class="thead-dark">
    <tr><th scope="col">ID</th> <td>{{ id }}</td></tr>
    <tr><th scope="col">Login Name</th>  <td>{{ username }}</td></tr>
    <tr><th scope="col">Filename</th><td>{{  file.filename }}</td></tr>
    <tr><th scope="col">Cloud Hash</th> <td>{{  cloudhashresult }}</td>  </tr>
    <tr><th scope="col">Original Hash</th><td>{{ file.hashcode }}</td> </tr>
    <tr><th scope="col">Audit Result</th>  
	  <td>
	     {% if cloudhashresult == file.hashcode %}
		   Matched(File is ok)
		 {% else %}
		   Mismatched(File is edited/modified)
         {% endif %}		 
	  </td>
	</tr> 
	 <tr><td colspan=2 class="text-center">
	   <form method="post" action="/tpa/verifyauditdb">
	    {% csrf_token %}
	      <input type="hidden" name="requestid" value="{{id}}">
		  <input type="submit" class="btn btn-primary" value="Accept"/>
	   </form>
	 </td> </tr>
  </thead> 
</table>
 </div>
                    </div>
                </div>

           
{% endblock %}