{% extends "base.html" %}
{% load static %}	
{% block content %}   

                <div class="row">
                    <div class="col-md-3 register-left" >
                         <img src="{% static ''%}images/file-cloud.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>Data Integrity Auditing using blockchain to Secure from Attackers</p>
						<input type="button" class="btn" name="" onclick="document.location.href='/user/changepassword'" value="Change Password"/> 
                        <input type="button" name="" onclick="document.location.href='/logout'" value="Logout"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
					        <div class="container">
								<br/>
	<div class="row">
	    <br/>
	   <div class="col text-center">
		<h2>Change Password</h2> 
		</div> 
	</div>
	<br/>
	<div class="col-8 float-right">
{% if updatepassword_errors %} 
	<div class='alert alert-danger'>{{ updatepassword_errors | safe  }}</div>
{% endif %}
{% if updatepassword_success %} 
	<div class='alert alert-success'>{{ updatepassword_success | safe  }}</div>
{% endif %}
</div>
 <form role="form" class="col-10 float-right" method="post" onSubmit="return valid();" name="chngpwd" action="/user/updatepassword" >
{% csrf_token %}
<div class="form-group">
<label>Current Password</label>
<input class="form-control" type="password" name="password" autocomplete="off" required  />
</div>

<div class="form-group">
<label>Enter Password</label>
<input class="form-control" type="password" name="newpassword" autocomplete="off" required  />
</div>

<div class="form-group">
<label>Confirm Password </label>
<input class="form-control"  type="password" name="confirmpassword" autocomplete="off" required  />
</div>
<div class="form-group">
<label></label>
 <input type="submit" name="change" class="btn btn-info form-control" value='Change'/> 
 </div>
</form> 

 </div>
                    </div>
                </div>

           
{% endblock %}